@import "tailwindcss";

@theme {
	--color-primary-background: #141924;
	--color-secondary-background: #191f2c;
	--color-primary-border: #282828;
	--color-accent-purple: #f53361;
	--color-secondary-text: #c6cddb;
	--color-primary-link: #f19f63;
	--breakpoint-xs: 520px;
	--breakpoint-sm: 768px;
	--breakpoint-md: 1024px;
	--breakpoint-lg: 1320px;
	--breakpoint-xl: 1520px;
}

@utility flex-middle {
	@apply flex items-center justify-center;
}

@utility raise-up {
	@apply relative z-[1];
}

*,
*::before,
*::after {
	@apply transition-all duration-200;
}

input {
	width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

body {
	@apply text-white text-[14px] font-[var(--font-inter)];
}

button {
	@apply cursor-pointer;
}

input {
	@apply max-w-full;
}

input:focus {
	@apply outline-none;
}

.os-scrollbar {
	--os-handle-bg: #f53361 !important;
	--os-handle-bg-hover: #e62b56 !important;
	--os-handle-bg-active: #e62b56 !important;
	--os-size: 7px !important;
	z-index: 100 !important;
}

.os-scrollbar-horizontal {
	--os-track-bg: #11151e !important;
	--os-track-bg-hover: #11151e !important;
	--os-track-bg-active: #11151e !important;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

.react-responsive-modal-container::-webkit-scrollbar {
	display: none !important;
}

.filter-to-accent-purple {
	filter: brightness(0) saturate(100%) invert(30%) sepia(95%) saturate(3431%)
		hue-rotate(330deg) brightness(103%) contrast(92%);
}

.filter-to-accent-purple-hover {
	filter: brightness(0) saturate(100%) invert(30%) sepia(95%) saturate(3431%)
		hue-rotate(330deg) brightness(103%) contrast(92%);
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
.animate-fade-in {
	animation: fade-in 0.3s ease-out;
}

#default-tooltip {
	opacity: 1;
	border-radius: 6px;
}